body {
    padding : 0;
}
.login-container {
    padding: 0;
    margin: 0;
    height : 100vh;
    background-image: url("https://readydonor.s3.us-east-2.amazonaws.com/login-page.jpg");
    background-size: cover;
    background-position: center;
}
.login-box {
    width : 800px;
    height: 420px;
    background-color: rgba(255,255,255, .7);
    color: #000;
    top : 50%;
    left : 50%;
    position: absolute;
    transform : translate(-50%, -50%);
    box-sizing: border-box;
   
    

}
.avatar-form {
    // width: 100%;
    
    border-radius: 80%;
    position: relative;
     top: -60px;
     left: 350px;
}
.form {
    position: relative;
    left : 300px;
    border: box-sizing;
    padding-top: 5px;
}
.login-text {
    font-size: 2.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 360px;
    top: 90px;
}
.submit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 1rem ;
    margin-top: 20px;
    background-color: rgba(235, 18, 18, 0.7);
    border-radius: 4rem;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    position: relative;
    left: 30px;
}
.submit:hover{
    transform: translateY(-1.5rem) scale(1.03)
}
.extra-lists {
    position: relative;
    left: 550px;
    top: -70px;
}
.extra-items {
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
}
.extra-things {
    font-size: 1.5rem;
   
    
}
.reg{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: relative;
    top: -74px;
    left: 324px;
}
.reg-control {
    margin-top: -100px;
}
